#GeocodeAPI предоставляет 10 000 бесплатных запросов в день

In [93]:
from geopandas.tools import geocode 
loc = ['Москва, 1-я улица Машиностроения, 10','Москва, Шарикоподшипниковская улица, 36/18']
location = geocode(loc, provider="nominatim" , user_agent = 'my_request') 
point = location['geometry']
location

                    geometry                                            address
0  POINT (37.67263 55.71367)  Чумодан, 10, 1-я улица Машиностроения, Кожухов...
1  POINT (37.67550 55.71480)  36/18, Шарикоподшипниковская улица, Кожухово, ...

# Считаем расстояние от исходного до пункта назначения

In [89]:
def distance (A,B):
    const = 111111
    return((A.x-B.x)**2+(A.y-B.y)**2)**0.5*const

In [90]:
A,B = point[0], point[1]
print(distance(A,B), 'meters')

342.34616321863706 meters

#Рассчитываем цену

In [94]:
def cost(meters):
    return 240+meters/100

In [95]:
cost(distance(A,B))

243.42346163218636